$dark: #000;
$dark-opaque: #000000a6;
$dark-pink: #ab5d5d;
$brown: #4d0f0f;
$pink: #fa9191;
$grey: #dddddd;
$dark-grey: #555555;
$pink-opaque: #fd90ff2d;
$pink-ligth: #ffe1e1;
$ligth: #fff;
$blue-ligth: #e6f7fd;
$dark-pink-opaque: #b47b7b99;
