<section class="home-main">
  <div class="home-main-image-container">
    <img class="home-main-image"
      src="../../../assets/Images/Torta 1.webp"
      alt="Postres deliciosos a tu gusto">
  </div>
  <article class="home-main-separator first">
    <p class="home-main-separator-title">Cotiza tus postres</p>
    <span class="home-main-separator-subtitle">Personalizados</span>
    <a href="quote" class="button home-main-separator-button">Cotiza acá</a>
  </article>
  <div class="home-main-image-container">
    <img class="home-main-image" src="../../../assets/Images/Cupcake 1.webp"
      alt="Postres deliciosos a tu gusto">
  </div>
  <article class="home-main-separator second">
    <p class="home-main-separator-title">POSTRES DISEÑADOS</p>
    <span class="home-main-separator-subtitle">A TU ESTILO Y GUSTO</span>
  </article>
  <div class="home-main-image-container">
    <a href="about" class="home-main-image-link">
      Conóceme
    </a>
    <img class="home-main-image" src="../../../assets/Images/Torta 2.webp"
      alt="Postres deliciosos a tu gusto">
  </div>
  <div class="home-main-image-container">
    <a href="quote" class="home-main-image-link">
      Cotiza
    </a>
    <img class="home-main-image" src="../../../assets/Images/Torta 3.webp"
      alt="Postres deliciosos a tu gusto">
  </div>
</section>
