.whatsapp-button {
  color: white;
  text-decoration: none;
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: green;
  border: none;
  outline: none;
  cursor: pointer;
  &-icon{
    font-size: 2.2rem;
  }
}
