<section class="home-gallery">
  <header class="home-gallery-header">
    <h3 class="home-gallery-header-title">Sigueme en Instagram</h3>
  </header>
  <main class="home-gallery-list">
    <div class="home-gallery-list-item">
      <img src="../../../../assets/Images/Cupcake 1.jpeg"
        alt="Postres a tu gusto"
        class="home-gallery-list-img">
    </div>
    <div class="home-gallery-list-item">
      <img src="../../../../assets/Images/Torta 1.jpeg"
        alt="Postres a tu gusto"
        class="home-gallery-list-img">
    </div>
    <div class="home-gallery-list-item">
      <img src="../../../../assets/Images/Torta 2.jpeg"
        alt="Postres a tu gusto"
        class="home-gallery-list-img">
    </div>
    <div class="home-gallery-list-item">
      <img src="../../../../assets/Images/Torta 3.png"
        alt="Postres a tu gusto"
        class="home-gallery-list-img">
    </div>
    <div class="home-gallery-list-item">
      <img src="../../../../assets/Images/Cupcake 1.jpeg"
        alt="Postres a tu gusto"
        class="home-gallery-list-img">
    </div>
    <div class="home-gallery-list-item">
      <img src="../../../../assets/Images/Torta 1.jpeg"
        alt="Postres a tu gusto"
        class="home-gallery-list-img">
    </div>
  </main>
  <footer class="home-gallery-footer">
    <button class="home-gallery-footer-button">Cargar más</button>
  </footer>
</section>
