@import "_colors";
.home-gallery {
  margin-top: 1rem;
  &-header {
    padding: 1rem 0;
    text-align: center;
    &-title {
      font-size: 1.5rem;
    }
  }
  &-list {
    display: grid;
    gap: 0.5rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    &-img {
      max-width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
  &-footer {
    display: grid;
    place-content: center;
    padding: 3rem 0;
    &-button {
      background: $ligth;
      font-size: 1.1rem;
      padding: 1rem 2rem;
      color: $grey;
      border: 2px solid $pink-ligth;
      font-weight: 600;
      transition: 0.3s ease background, 0.3s ease color;
      &:hover {
        background: $pink-opaque;
        color: $pink;
      }
    }
  }
}
