@import "_colors";
@import "_general";
.home-hero {
  padding: 2rem 0;
}
.home-hero-header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.home-hero-title {
  font-family: "Great Vibes", cursive;
  font-size: 2.3rem;
  color: $pink;
  font-weight: 200;
  padding: 0.1rem 0;
}
.home-hero-subtitle {
  position: relative;
  font-weight: 600;
}
.home-hero-separator {
  width: 1.5rem;
  height: 3px;
  background: $dark;
}
.home-hero-main {
  padding: 0.5rem 0;
  color: $grey;
}
.home-hero-footer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.home-hero-button {
  background: $pink;
  color: $brown;
  border: 1px solid $brown;
  font-size: 0.9rem;
  text-decoration: none;
}
.home-hero-button:hover {
  background: $pink-ligth;
}
