<section class="home-hero">
  <h2 class="home-hero-title">Deliciosas</h2>
  <header class="home-hero-header">
    <div class="home-hero-separator"></div>
    <p class="home-hero-subtitle">Postres para tí</p>
  </header>
  <main class="home-hero-main">
    <summary class="home-hero-description">DelialiCake te ofrece los mejores
      postres
      para tí y tus eventos.</summary>
  </main>
  <footer class="home-hero-footer">
    <a href="quote" class="home-hero-button button">Cotiza acá</a>
  </footer>
</section>
